<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/assets/images/favicon.ico" type="image/x-icon">
    <title>Xuborx Framework</title>
</head>
<body>
<div class="text">xuborx framework</div>
</body>
</html>

<style>
    body {
        background: rgb(179,179,179);
        background: -moz-radial-gradient(circle, rgba(179,179,179,1) 0%, rgba(242,242,239,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(179,179,179,1) 0%, rgba(242,242,239,1) 100%);
        background: radial-gradient(circle, rgba(179,179,179,1) 0%, rgba(242,242,239,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b3b3",endColorstr="#f2f2ef",GradientType=1);
    }

    .text {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: xx-large;
        text-transform: uppercase;
        color: #dfdfdd;
        font-family: sans-serif;
    }
</style>